@import "./reset";
@import url("https://fonts.googleapis.com/css2?family=Pushster&display=swap");
@import "./menu";
@import "./section";

body {
  font-family: "Pushster", cursive;
}
input {
  &:focus-visible {
    outline: none;
  }
}
.dropdown-menu {
  &:focus-visible {
    outline: none;
  }
}
.main-wrap {
  min-height: 100vh;
  background-image: url(../../assets/images/IMG_5394.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.container {
  max-width: 1300px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: content-box;
}
.flex-container {
  display: flex;

  justify-content: center;
  flex-wrap: wrap;
}
